.banner {
  padding: 50px 0;
}


.container-banner {
  position: relative;
  width: 1180px;
  height: 823px;
  margin: 0 auto;
}


.banner__name {
  position: relative;
  font-family: "Arial Black";
  font-size: 150px;
  font-weight: 900;
  margin: 0 auto;
  line-height: 150px;
}


.banner__slogan {
  font-weight: 400;
  font-size: 28px;
  padding-left: 100px;
 margin-bottom: 30px;
  line-height: 50px;
}


.banner__name:after {
  position: absolute;
  content: "";
  width: 675px;
  height: 762px;
  background-image: url("../img2/game-over.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 505px;
  top: 61px;
}


.banner__list {
  width: 359px;
  display: flex;
  align-items: end;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 150px;

}


.banner__item_1 {
  width: 193px;
  height: 209px;
  margin-right: 43px;
  text-align: center;
}


.banner__item_2 {
  width: 166px;
  height: 174px;
  align-items: end;
}


.span1 {
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--main-color2);
}


.span2 {
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 106px;
font-variant: small-caps;
color: var(--main-color2);
}


.booking {
  width: 374px;
  height: 80px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-color5);
  transition-property: transform, background-color;
  transition-duration: .3s;
}


.booking:hover, .booking:focus {
  transform: scale(1.1);
  background-color: var(--main-color4);
  border-radius: 10px;
}


.booking:active {
  transform: scale(1.1);
  background-color: var(--main-color3);
  border-radius: 10px;
  border: 1px solid var(--main-color3);
}


.down {
  position: absolute;
  width: 97px;
  height: 97px;
  background-image: url("../img/down.png");
  top: 636px;
  left: 539px;
  transition-property: transform,  background-image;
  transition-duration: .3s;
}


.down:hover {
  transform: scale(1.1);
  background-image: url("../img/down-hover.png");
}


.down:focus {
  transform: scale(1.1);
  background-image: url("../img/down-focus.png");
}


.down:active {
  transform: scale(1.1);
  background-image: url("../img/down-active.png");
  box-sizing: border-box;
}
