.book {
  padding: 50px 0;

}


.container-book {
  width: 1180px;
  height: 1114px;
  margin: 0 auto;
  padding: 80px 0;
  background-color: #440F51;
}


fieldset {
  padding: 0;
}


.book__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}


.book__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}


.big-box1 {
  width: 1180px;
  height: 123px;
  margin-bottom: 60px;
}


.big-box1__list {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}


.big-box1__radio {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}


.big-box1__radio:hover {
  background: #EADEED;
  border: 3px solid #640AA3;
  box-sizing: border-box;
  border-radius: 8px;
}


.big-box1__radio:focus {
  background: #FFFFFF;
  border: 3px solid #640AA3;
  box-sizing: border-box;
  border-radius: 8px;
}


.big-box1__radio:active {
  background: #EADEED;
  border-radius: 8px;
}


.big-box2 {
  width: 1180px;
  height: 287px;
  margin-bottom: 67px;
}


.big-box2__list {
  height: 219px;
  display: flex;
  justify-content: space-evenly;
}


.big-box2__item {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}


.small-box2 {
  width: 280px;
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}


.small-box2_end {
  width: 280px;
  height: 125px;
}


.big-box2__input {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}


.big-box2__input_2 {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}


.big-box2__input:focus {
  background: #FFFFFF;
}


.big-box2__input_2:focus {
  width: 33px;
  height: 33px;
  border: 1px solid #CD06FF;
  box-sizing: border-box;
}




.big-box3 {
  width: 980px;
  height: 228px;
  margin: 0 auto 40px auto;
}


.big-box3__list {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}


.small-box3 {
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.small-box__subtopic {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

}


.big-box3__input_date {
  width: 134px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}


.big-box3__input_date:focus {
  background: #FFFFFF;
  border: 2px solid #CD06FF;
  box-sizing: border-box;
}


.big-box3__input {
  width: 300px;
  height: 52px;
}


.big-box3__input:focus {
  background: #FFFFFF;
  border: 2px solid #CD06FF;
  box-sizing: border-box;
}


.big-box3__input_center {
  width: 280px;
  height: 52px;
}


label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}


.book__submit {
  width: 300px;
  height: 60px;
  float: right;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  margin-right: 100px;
  background: #FFFFFF;
  border-radius: 10px;
}


.book__submit:hover {
  background: #EADEED;
  border: 3px solid #6C0287;
  box-sizing: border-box;
  border-radius: 10px;
}


.book__submit:focus {
  background: #FFFFFF;
  border: 3px solid #6C0287;
  box-sizing: border-box;
  border-radius: 10px;
}


.book__submit:active {
  background: #EADEED;
  border-radius: 10px;
}


