.book {
  padding: 50px 0;

}


.container-book {
  width: 1180px;
  height: 1114px;
  margin: 0 auto;
  padding: 80px 0;
  background-color: var(--main-color7);
}


fieldset {
  padding: 0;
}


.book__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}


.book__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}


.big-box1 {
  width: 1180px;
  height: 123px;
  margin-bottom: 60px;
}


.big-box1__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.big-box1__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.big-box1__button {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--main-color10);
  background: var(--main-color5);
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 15px 8px 15px;
  transition-property: transform, background-color;
  transition-duration: .3s;
}


.big-box1__button:hover {
  transform: scale(1.1);
  background: var(--main-color11);
  border: 3px solid var(--main-color3);
  box-sizing: border-box;
  border-radius: 8px;
}


.big-box1__button:focus {
  transform: scale(1.1);
  background-color: var(--main-color5);
  border: 3px solid var(--main-color3);
  box-sizing: border-box;
  border-radius: 8px;
}


.big-box1__button:active {
  transform: scale(1.1);
  background-color: var( --main-color11);
  border: 3px solid  var( --main-color11);
  border-radius: 8px;
}



.big-box2 {
  width: 1180px;
  height: 287px;
  padding-left: 100px;
  margin: 0 auto 67px auto;
}


.big-box2__list {
  height: 219px;
  display: flex;
  justify-content: space-between;
}


.big-box2__item {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}


.small-box2 {
  width: 280px;
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: var(--main-color5);
}
.small-box2_left {
  width: 300px;
  height: 219px;
}

.small-box2_right {
  width: 300px;
  height: 125px;
}




.big-box2__input {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition-property: transform;
  transition-duration: .3s;
}

.big-box2__input:focus {
  transform: scale(1.1);
  background: var(--main-color5);
  border: 1px solid var( --main-color2);
}


.big-box2__input_2 {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition-property: transform;
  transition-duration: .3s;
}


.big-box2__input_2:focus {
  transform: scale(1.1);
  border: 1px solid var( --main-color2);
}


.big-box2__label {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: var(--main-color5);
  display: flex;
  align-items: center;
}


.big-box2__input:focus {
  transform: scale(1.1);
  background: var(--main-color5);
}


.big-box2__input_2:focus {
  transform: scale(1.1);
  width: 33px;
  height: 33px;
  border: 1px solid var(--main-color2);
  box-sizing: border-box;
}




.big-box3 {
  width: 980px;
  height: 228px;
  margin: 0 auto 40px auto;
}


.big-box3__list {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}


.small-box3 {
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.small-box__subtopic {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

}


.big-box3__input_date {
  width: 134px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
  transition-property: transform, background-color;
  transition-duration: .3s;
}


.big-box3__input_date:focus {
  transform: scale(1.1);
  border: 2px solid var(--main-color2);
}


.big-box3__input {
  width: 300px;
  height: 52px;
  transition-property: transform, background-color;
  transition-duration: .3s;
}


.big-box3__input:focus {
  transform: scale(1.1);
  border: 2px solid var(--main-color2);
}


.big-box3__input_center {
  width: 280px;
  height: 52px;
}


.small-box3__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color5);
}


.book__submit {
  width: 300px;
  height: 60px;
  float: right;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-right: 100px;
  background: var(--main-color5);
  border-radius: 10px;
  transition-property: transform, background-color;
  transition-duration: .3s;
}


.book__submit:hover {
  transform: scale(1.1);
  background-color: #EADEED;
  border: 3px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
}


.book__submit:focus {
  transform: scale(1.1);
  background-color: var(--main-color5);
  border: 3px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
}


.book__submit:active {
  transform: scale(1.1);
  background-color: var(--main-color11);
  border: 3px solid var(--main-color11);
  border-radius: 10px;
}


