.book {
  padding: 50px 0;

}


.container-book {
  width: 1180px;
  height: 1114px;
  margin: 0 auto;
  padding: 80px 0;
  background-color: #440F51;
}


fieldset {
  padding: 0;
}


.book__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}


.book__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}


.big-box1 {
  width: 1180px;
  height: 123px;
  margin-bottom: 60px;
}


.big-box1__list {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}


.big-box1__button {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}





.big-box2 {
  width: 1180px;
  height: 287px;
  margin-bottom: 67px;
}


.big-box2__list {
  height: 219px;
  display: flex;
  justify-content: space-evenly;
}


.big-box2__item {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}


.subtopic__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 20px;
}


.little-box2__input {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}


.little-box2__input_2 {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}





.big-box3 {
  width: 980px;
  height: 228px;
  margin: 0 auto 40px auto;
}


.big-box3__list {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

li {
  margin-bottom: 14px;
}

.big-box3__list_small {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
 }


.big-box3__input_date {
  width: 134px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}


.big-box3__input {
  width: 300px;
  height: 52px;
}


.big-box3__input_center {
  width: 280px;
  height: 52px;
}


label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}



.book__submit {
  width: 300px;
  height: 60px;
  float: right;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  margin-right: 100px;
  background: #FFFFFF;
  border-radius: 10px;
}


