.footer {
  padding: 50px 0;
}


.container-footer {
  max-width: 1240px;
  height: 350px;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
}


 .footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
   text-transform: uppercase;
}


.contacts__list {
  margin-bottom: 40px;
}


.contacts__item {
  position: relative;
  padding-left: 60px;
}


.contacts__item_location {
  margin-bottom: 36px;
}


.contacts__item_phone {
  margin-bottom: 11px;
}


.contacts__item_location:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/location.svg");
  left: 0;
}


.contacts__item_phone:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/phone.svg");
  left: 0;

}


.contacts__item_mail:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/mail.svg");
  left: 0;
}


.social__item {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 56px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  color: #FFFFFF;

}

.social__item_Ins {
  background-image: url("../img2/Vector.svg");
}

.social__item_Vk {
  background-image: url("../img2/Vector2.svg");
}

.social__item_Fb {
  background-image: url("../img2/Vector3.svg");
}

.social__item_Tg {
  background-image: url("../img2/Vector4.svg");
  margin-right: 0;
}


