.footer {
  padding: 50px 0;
}


.container-footer {
  width: 1180px;
  height: 629px;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}


 .footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
   text-transform: uppercase;
   margin-bottom: 40px;
}


.contacts__list {
  margin-bottom: 35px;
}


.contacts__item {
  position: relative;
  padding-left: 60px;
}


.contacts__item_location {
  margin-bottom: 39px;
}


.contacts__item_phone {
  margin-bottom: 14px;
}


.contacts__item_location:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/location.svg");
  left: 0;
}


.contacts__item_phone:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/phone.svg");
  left: 0;

}


.contacts__item_mail:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img2/mail.svg");
  left: 0;
}



.social {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 48px;
  height: 48px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  color: #FFFFFF;

}



.social__item:hover{
  background: #EADEED;
}

.social__item:focus{
  background: #EADEED;
}

.social__item:active{
  background: #CD06FF;
}

.social__item_Ins {
  background-image: url("../img2/Vector.svg");
}

.social__item_Vk {
  background-image: url("../img2/Vector2.svg");
}

.social__item_Fb {
  background-image: url("../img2/Vector3.svg");
}

.social__item_Tg {
  background-image: url("../img2/Vector4.svg");
  margin-right: 0;
}


.big-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}


.map {
  width: 680px;
  height: 274px;
}


.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.left {
  float: left;
}

.right {
  float: right;
}
