.footer {
  padding: 50px 0;
  background: linear-gradient(180deg, var(--main-color8) 0%, var(--main-color9) 100%);
}


.container-footer {
  width: 1180px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
}


.footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.container-footer1 {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}


.contacts__list {
  margin-bottom: 41px;
}


.contacts__item {
  position: relative;
  padding-left: 60px;
}

.contacts__item_location2 {
  display: none;
}

.contacts__item_location {
  margin-bottom: 39px;
}


.contacts__item_phone {
  margin-bottom: 14px;
}


.contacts__item:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}


.contacts__item_location:before {
  background-image: url("../img2/location.svg");
}


.contacts__item_phone:before {
  background-image: url("../img2/phone.svg");
}


.contacts__item_mail:before {
  background-image: url("../img2/mail.svg");
}


.contacts__item_phone:hover, .contacts__item_mail:hover {
  color: var(--main-color2);
  transition-duration: .3s;
}


.social {
  width: 120px;
  display: flex;
  justify-content: space-between;
}


.social__item {
  width: 48px;
  height: 48px;
  transition-property: transform, background-image;
  transition: .3s ease-in;
}


svg {
  fill: #fff;
}


svg:hover, svg:focus {
  fill: #EADEED;
  transform: scale(1.1);
}


svg:active {
  fill: #CD06FF;
  transform: scale(0.9);
}


.map {
  width: 680px;
  height: 274px;
  object-fit: cover;
}


.container-footer2 {
  display: flex;
  justify-content: space-between;
}


.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color5);
}


.right:hover {
  color: var(--main-color2);
  transition-duration: .3s;
}


@media (max-width: 1024px) {

  .footer {
    padding: 50px 0;
  }

  .container-footer {
    width: 903px;
    margin: 0 auto;
  }

  .container-footer1 {
    width: 903px;
    margin-bottom: 92px;
  }

  .footer__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .contacts__list {
    margin-bottom: 45px;
  }

  .contacts__item {
    position: relative;
    padding-left: 40px;
  }

  .contacts__item:before {
    width: 26px;
    height: 26px;
  }


  svg {
    width: 38px;
    height: 38px;
  }

  .map {
    width: 542px;
    height: 274px;
  }
}

@media (max-width: 768px) {

  .footer {
    padding: 50px 0;
  }

  .container-footer {
    width: 688px;
    margin: 0 auto;
  }

  .container-footer1 {
    width: 688px;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  .big-box {
    width: 380px;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .social {
    margin: 0 auto;
  }

  .contacts__item {
    position: relative;
    padding-left: 0;

  }

  .contacts__item_location {
    display: none;
  }

  .contacts__item_location2 {
    display: inherit;
    margin-bottom: 27px;
  }

  .contacts__item_location2:before {
    background-image: url("../img2/location.svg");
    left: 100px;
  }

  .contacts__item_phone:before {
    left: 56px;
  }

  .contacts__item_mail:before {
    left: 19px;
  }


  .footer__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .map {
    width: 688px;
    height: 337px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 50px 0;
  }

  .container-footer {
    width: 280px;
    margin: 0 auto;
  }

  .container-footer1 {
    width: 280px;
    flex-wrap: wrap;
    margin-bottom: 63px;
  }

  .big-box {
    width: 280px;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .contacts__item {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__item_location2 {
    display: inherit;
    margin-bottom: 10px;
  }

  .contacts__item:before {
    width: 20px;
    height: 20px;
  }

  .contacts__item_location2:before {
    left: 81px;
  }

  .contacts__item_phone:before {
    left: 61px;
  }

  .contacts__item_mail:before {
    left: 37px;
  }

  .social__item {
    width: 29px;
    height: 29px;
  }

  svg {
    width: 29px;
    height: 29px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .map {
    width: 280px;
    height: 194px;
  }

  .container-footer2 {
    height: 72px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

  }

  .footer__text {
    font-size: 12px;
    line-height: 16px;
  }
}
