.halls {
  padding: 50px 0;
}


.container-halls {
  width: 1180px;
 /* min-height: 814px;*/
  margin: 0 auto;
}


.halls__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.halls__list {
  width: 1180px;
  /* height: 718px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.halls__item {
  width: 580px;
  height: 349px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.halls__item_vibes {
  background-image: url("../img2/vibes.png");
  background-size: cover;
}


.halls__item_wars {
  background-image: url("../img2/wars.png");
  background-size: cover;
}


.halls__item_west {
  background-image: url("../img2/west.png");
  background-size: cover;
  margin-bottom: 0;
}


.halls__item_style {
  background-image: url("../img2/style.png");
  background-size: cover;
  margin-bottom: 0;
}


.label {
  position: absolute;
  width: 252px;
  height: 160px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
}


@media (max-width: 1024px) {
  .halls {
    padding: 0 0 70px 0;
  }

  .container-halls {
    max-width: 904px;
  }

  .halls__title {
    max-width: 904px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }

  .halls__list {
    width: 904px;
    /* height: 718px;*/
  }

  .halls__item {
    width: 443px;
    /*height: 267px;*/
  }

  .label {
    width: 202px;
    height: 120px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .halls {
    padding: 0 0 60px 0;
  }

  .container-halls {
    max-width: 688px;
  }

  .halls__title {
    font-size: 24px;
    line-height: 36px;
  }

  .halls__list {
    max-width: 688px;
  }

  .halls__item {
    width: 335px;
    height: 200px;
  }

  .label {
    width: 121px;
    height: 100px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 320px) {
  .halls {
    padding: 0 0 30px 0;
  }

  .container-halls {
    max-width: 280px;
  }

  .halls__title {
    font-size: 14px;
    line-height: 18px;
  }

  .halls__list {
    max-width: 280px;
  }

  .halls__item {
    width: 280px;
    height: 168px;
  }

  .label {
    width: 76px;
    height: 68px;
    font-size: 26px;
    line-height: 34px;
  }
}
