.halls {
  padding: 50px 0;
}


.container-halls {
  width: 1180px;
  min-height: 814px;
  margin: 0 auto;
}


.halls__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.halls__list {
  width: 1180px;
  height: 718px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.halls__item {
  width: 580px;
  height: 349px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.halls__item_vibes {
  background-image: url("../img2/vibes.png");
  background-size: cover;
}


.halls__item_wars {
  background-image: url("../img2/wars.png");
  background-size: cover;
}


.halls__item_west {
  background-image: url("../img2/west.png");
  background-size: cover;
  margin-bottom: 0;
}


.halls__item_style {
  background-image: url("../img2/style.png");
  background-size: cover;
  margin-bottom: 0;
}


.label {
  position: absolute;
  width: 252px;
  height: 160px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
 }



