.halls {
  padding: 50px 0;
}


.container-halls {
  width: 1180px;
  min-height: 814px;
  margin: 0 auto;
}


.halls__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.halls__item {
  position: relative;
  width: 580px;
  height: 349px;
  margin-bottom: 20px;
}


.halls__item_vibes {
  float: left;
  background-image: url("../img2/vibes.png");
  background-size: cover;
}


.halls__item_wars {
  float: right;
  background-image: url("../img2/wars.png");
  background-size: cover;
}


.halls__item_west {
  float: left;
  background-image: url("../img2/west.png");
  background-size: cover;
  margin-bottom: 0;
}


.halls__item_style_end {
  float: right;
  background-image: url("../img2/style.png");
  background-size: cover;
  margin-bottom: 0;
}


.label {
  position: absolute;
  width: inherit;
  height: 80px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  top: 135px;
}

