.question {
  padding: 50px 0;
}

.container-question {
  width: 1180px;
  margin: 0 auto;
}

.question__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.question__item {
  position: relative;
  height: 87px;
  background-color: var(--main-color5);
  color: var(--main-color6);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  list-style: none;
}


.question__item:last-child {
  margin-bottom: 0;
}


.question__item:nth-child(2n) {
  color: var(--main-color5);
  background-color: var(--main-color7);
}


.question__item:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../img/open-purple.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: 25px;
  top: 20px;
  transition: background-image .3s ease-in;
  -webkit-transition: background-image .3s linear;
  -moz-transition: background-image .3s linear;
  -o-transition: background-image .3s linear;

}


.question__item:nth-child(2n):after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/open1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(-8%);
  transition: background-image .3s ease-in;
  -webkit-transition: background-image .3s linear;
  -moz-transition: background-image .3s linear;
  -o-transition: background-image .3s linear;

}


.question__item:hover:after {
  background: url("../img/open-hover1.svg") no-repeat;
  background-size: contain;
}


.question__item:active:after {
  background: url("../img/close1.svg") no-repeat;
  background-size: contain;
}


.question__item:hover:nth-child(2n):after {
  background: url("../img/open-hover2.svg") no-repeat;
  background-size: contain;
}


.question__item:active:nth-child(2n):after {
  background: url("../img/close2.svg") no-repeat;
  background-size: contain;
}


@media (max-width: 1024px) {
  .question {
    padding: 50px 0;
  }

  .container-question {
    width: 904px;
    margin: 0 auto;
  }
  .question__title {
    font-size: 30px;
    line-height: 40px;
  }

  .question__item, .question__item:nth-child(2n) {
    height: 70px;
    font-size: 20px;
    line-height: 24px;
    background-color: var(--main-color5);
    color: var(--main-color6);
    padding: 23px 25px;
    margin-bottom: 16px;
  }

  .question__item:after, .question__item:nth-child(2n):after {
    width: 46px;
    height: 46px;
    right: 12px;
    top: 12px;
    background-image: url("../img/open-purple.svg");
    background-size: cover;
  }

  .question__item:hover:after, .question__item:hover:nth-child(2n):after {
    background: url("../img/open-hover1.svg") no-repeat;
    background-size: cover;
  }

  .question__item:active:after, .question__item:active:nth-child(2n):after {
    background: url("../img/close1.svg") no-repeat;
    background-size: cover;
  }
}


  @media (max-width: 768px) {
    .question {
      padding: 50px 0;
    }

    .container-question {
      width: 688px;
      margin: 0 auto;
    }
    .question__title {
      font-size: 24px;
      line-height: 26px;
    }
    .question__item, .question__item:nth-child(2n) {
      font-weight: 700;
      font-size: 18px;
      padding: 23px 54px;
    }
    .question__item:after, .question__item:nth-child(2n):after {
      width: 46px;
      height: 46px;
      right: 65px;
      top: 12px;
    }
  }

  @media (max-width: 320px) {
    .question {
      padding: 50px 0;
    }

    .container-question {
      width: 280px;
      margin: 0 auto;
    }
    .question__item {
      height: 40px;
    }
    .question__title {
      font-size: 14px;
      line-height: 18px;
    }
    .question__item, .question__item:nth-child(2n) {
      width: 280px;
      height: 46px;
      font-size: 12px;
      line-height: 16px;
      padding: 7px 43px 15px 13px;
      margin-bottom: 10px;
    }
    .question__item:after, .question__item:nth-child(2n):after {
      width: 30px;
      height: 30px;
      right: 9px;
      top: 7px;
    }
  }
