.rest {
  padding: 50px 0;
}

.container-rest {
  max-width: 1180px;
  margin: 0 auto;
}


.rest__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0 auto 40px auto;
  text-transform: uppercase;
}


.rest__list {
 /*height: 565px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: baseline;*/
  row-gap: 20px;

}


.rest__item {
  position: relative;
  width: 380px;
  height: 228px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  transition-property: transform;
  transition-duration: .3s;
  background-repeat: no-repeat;
  background-size: cover;
}

.rest__item_1 {
  background-image: url("../img/vr1.png");
}

.rest__item_2 {
  background-image: url("../img/audio.png");
  /* align-self: self-end;*/
  transform: translateY(70px) ;
  z-index: 1;
}

.rest__item_3 {
  background-image: url("../img/micro.png");
}

.rest__item_4 {
  background-image: url("../img/game.png");
}

.rest__item_5 {
  background-image: url("../img/netflix.png");
  /*align-self: self-end;*/
  transform: translateY(70px) ;
  z-index: 1;
}

.rest__item_6 {
  background-image: url("../img/sony.png");
}

.figcaption {
  position: absolute;
  top: 166px;
  right: 40px;
  width: 300px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}


.rest__item:hover {
  transform: scale(1.1);
  z-index: 1;
}


.rest__item_2:hover {
  transform: translateY(70px) scale(1.1);
  z-index: 1;
}


.rest__item_5:hover {
  transform: translateY(70px) scale(1.1);
  z-index: 1;
}


@media (max-width: 1024px) {
  .rest {
    padding: 0 0 70px 0;
  }

  .container-rest {
    max-width: 904px;
    margin: 0 60px;
  }

  .rest__title {
    font-size: 30px;
    line-height: 40px;
  }

  .rest__item {
    width: 287px;
    height: 172px;
  }

  .figcaption {
    position: absolute;
    top: 114px;
    right: 20px;
    width: 247px;
  }
  .figcaption5 {
    top: 83px;
  }
}

  @media (max-width: 768px) {
    .rest {
    padding: 0 0 60px 0;
    }
    .container-rest {
      max-width: 688px;
      margin: 0 auto;
    }

    .rest__title {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
    .rest__item {
      width: 334px;
      height: 200px;
    }

    .rest__item_2 {
      background-image: url("../img/audio.png");
      transform: none ;
    }

    .rest__item_5 {
      background-image: url("../img/audio.png");
      transform: none ;
    }

    .figcaption {
      position: absolute;
      top: 132px;
      right: 30px;
      width: 274px;
      font-size: 20px;
      line-height: 28px;
    }
  }

    @media (max-width: 320px) {
      .rest {
      padding: 0 0 30px 0;
      }
      .container-rest {
        max-width: 280px;
        margin: 0 auto;
      }
      .rest__title {
        width: 280px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
      }
      .rest__item {
        width: 135px;
        height: 75px;
      }
      .figcaption {
        position: absolute;
        top: 30px;
        right: 10px;
        width: 115px;
        font-size: 10px;
        line-height: 14px;
      }
    }
