.rest {
  padding: 50px 0;
}

.container-rest {
  max-width: 1180px;
  height: 640px;
  margin: 0 auto;
}


.rest__title {
  width: 980px;
  height: 103px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0 auto 41px auto;
  text-transform: uppercase;
}


.rest__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1180px;
  height: 496px;
}


.rest__item {
  position: relative;
  width: 380px;
  height: 228px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  transition-property: transform;
  transition-duration: .3s;
}

.rest__item_1 {
  background-image: url("../img/vr1.png");
}

.rest__item_2 {
  background-image: url("../img/audio.png");
}

.rest__item_3 {
  background-image: url("../img/micro.png");
}

.rest__item_4 {
  background-image: url("../img/game.png");
}

.rest__item_5 {
  background-image: url("../img/netflix.png");
}

.rest__item_6 {
  background-image: url("../img/sony.png");
}

figcaption {
  position: absolute;
  top: 166px;
  right: 40px;
  width: 300px;
}


.figcaption {
  position: absolute;
  top: 166px;
  right: 40px;
  width: 300px;
}


.rest__item:hover {
  transform: scale(1.1);
}
