.reviews {
  padding: 50px 0;
}


.container-reviews {
  width: 980px;
  height: 1153px;
  margin: 0 auto;
}


.reviews__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.reviews__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}


.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}


.container-img {
  width: 280px;
  height: 280px;
}


.container-img1 {
  background-image: url("../img/1.png");
}


.container-img2 {
  background-image: url("../img/2.png");
}


.container-img3 {
  background-image: url("../img/3.png");
}


.reviews__text {
  width: 680px;
  height: 88px;
}


.reviews__text_clear {
  width: 280px;
  height: 28px;
  clear: left;
  text-align: center;
}



