.reviews {
  padding: 50px 0;
}


.container-reviews {
  width: 1180px;
  height: 415px;
  margin: 0 auto;
}

.reviews__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.reviews-content {
  height: 280px;
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__slider {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}


.reviews__item {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -325px;
  list-style: none;
}

.anim1 {
  animation: cycle 30s linear infinite;
}

.anim2 {
  animation: cycle2 30s linear infinite;
}

.anim3 {
  animation: cycle3 30s linear infinite;
}

@keyframes cycle {
  0% {
   left: 0px;
  }
  4% {
    left: 0px;
  }
  16% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    left: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    left: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
   left: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    left: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    left: -325px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    left: -325px;
    opacity: 0;
  }
  16% {
    left: -325px;
    opacity: 0;
  }
  20% {
    left: 0px;
    opacity: 1;
  }
  24% {
    left: 0px;
    opacity: 1;
  }
  36% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    left: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    left: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    left: -325px;
    opacity: 0;
  }
  36% {
   left: -325px;
    opacity: 0;
  }
  40% {
    left: 0px;
    opacity: 1;
  }
  44% {
    left: 0px;
    opacity: 1;
  }
  56% {
    left: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    left: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    left: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -325px;
    opacity: 0;
    z-index: -1;
  }
}


.reviews-person {
  width: 280px;
  height: 319px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.reviews__button {
  width: 65px;
  background-color: #1B1A1B;
  border: none;
}

.slider-img {
  width: 65px;
  height: 65px;
}


.reviews__text {
  width: 680px;
  font-size: 20px;
  line-height: 28px;
}

.reviews__name {
  font-size: 20px;
  line-height: 28px;
}


.reviews-img {
  width: 280px;
  height: 280px;
  border-radius: 140px;
  background-size: contain;
  background-repeat: no-repeat;
}


.reviews-img1 {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%),
  url("../img/1.png");
}


.reviews-img2 {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%),
  url("../img/2.png");
}


.reviews-img3 {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%),
  url("../img/3.png");
}


.reviews__text {
  width: 680px;
}


@media (max-width: 1024px) {
  .reviews {
    padding: 50px 0;
  }

  .container-reviews {
    width: 904px;
    height: 285px;
  }

  .reviews__slider {
    width: 725px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .reviews__item {
    width: 725px;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }


  .reviews-person {
    width: 172px;
    height: 219px;
    display: flex;
    align-content: space-between;
  }

  .reviews-img {
    width: 172px;
    height: 172px;
    border-radius: 86px;

  }

  .reviews__text {
    width: 515px;
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__name {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews-img1 {
    background-image: url("../img/1.png");
  }
}


@media (max-width: 768px) {
  .reviews {
    padding: 50px 0;
  }

  .container-reviews {
    width: 688px;
    height: 228px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }

  .reviews__item {
    width: 688px;
    height: 197px;
  }

  .reviews-person {
    width: 156px;
    height: 190px;
    display: flex;
    align-content: space-between;
  }

  .reviews__text {
    width: 393px;
    font-size: 16px;
    line-height: 22px;
  }

  .reviews__name {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews-img {
    width: 153px;
    height: 153px;
    border-radius: 76px;
  }
}


@media (max-width: 320px) {
  .reviews {
    padding: 30px 0;
  }

  .container-reviews {
    width: 280px;
    height: 228px;
  }

  .reviews__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  .reviews-content {
    height: 177px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__slider {
    width: 280px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .reviews__item {
    width: 280px;
    height: 177px;
    flex-wrap: wrap;
  }

  .reviews-person {
    width: 156px;
    height: 115px;
    display: flex;
    align-content: space-between;
    margin: 0 auto;
  }

  .reviews__text {
    width: 280px;
    font-size: 12px;
    line-height: 16px;
    order: 1;
  }

  .reviews__name {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews-img {
    width: 86px;
    height: 86px;
    margin: 0 auto;
    border-radius: 43px;
  }

}
