
:root {
  --main-color: #6C0287;
  --main-color2: #CD06FF;
  --main-color3: #640AA3;
  --main-color4: #840AA3;
  --main-color5: #FFFFFF;
  --main-color6: #1C1A1A;
  --main-color7: #440F51;
  --main-color8: #1B1A1B;
  --main-color9: #370A37;
  --main-color10:#000000;
  --main-color11:#EADEED;

}
